In [19]:
import numpy as np
import pandas as pd
from itertools import combinations
import collections

In [20]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
758,tt1568911,66000000,177584879,War Horse,Tom Hiddleston|Benedict Cumberbatch|Toby Kebbe...,Steven Spielberg,Separated by War. Tested by Battle. Bound by F...,Follows a young man named Albert and his horse...,146,Drama|War,DreamWorks SKG|Amblin Entertainment|Reliance E...,12/25/2011,6.9,2011
731,tt1570728,50000000,142851197,"Crazy, Stupid, Love.",Steve Carell|Julianne Moore|Ryan Gosling|Emma ...,Glenn Ficarra|John Requa,This Is Stupid,Cal Weaver is living the American dream. He ha...,118,Comedy|Drama|Romance,Warner Bros.,7/29/2011,6.9,2011
1835,tt0146984,80000000,39459427,The Legend of Bagger Vance,Matt Damon|Bruce McGill|Charlize Theron|Will S...,Robert Redford,It Was Just A Moment Ago.,World War I has left golfer Rannulph Junuh a p...,126,Fantasy|Drama,DreamWorks SKG|Twentieth Century Fox Film Corp...,11/2/2000,6.2,2000
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004
990,tt1409024,225000000,624026776,Men in Black 3,Will Smith|Tommy Lee Jones|Josh Brolin|Michael...,Barry Sonnenfeld,They are back... in time.,Agents J (Will Smith) and K (Tommy Lee Jones) ...,106,Action|Comedy|Science Fiction,Amblin Entertainment|Media Magik Entertainment...,5/23/2012,6.1,2012

In [21]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [22]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format


# Создадим новую колонку в датафрейме == Прибыль
# Прибыль = сборы - бюджет (profit = revenue - budget).
data['profit'] = data.revenue - data.budget


# колонку Жанры приведем к списку и сохраним в новую колонку
data['genres_array'] = data.genres.str.split('|')


# колонку Режиссер приведем к списку и сохраним в новую колонку
data['director_array'] = data.director.str.split('|')


# колонку Режиссер приведем к списку и сохраним в новую колонку
data['cast_array'] = data.cast.str.split('|')


# колонку Месяц выпуска фильма
release_array = data.release_date.str.split('/')
data['release_month'] = release_array.apply(lambda x: x[:1][0])


data['production_companies_array'] = data.production_companies.str.split('|')


""" Т.к. варианты ответов включают в себя название и идентификатор фильма,
то объявим функцию для получения правильного ответа"""
def get_result_string(film):
    film_title = film['original_title']
    film_id = film['imdb_id']
    return f'{film_title} ({film_id})'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [23]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

In [24]:
# тут пишем ваш код для решения данного вопроса:
budget_max = data[data.budget == data.budget.max()].iloc[0]

answers['1'] = get_result_string(budget_max)
display(answers['1']) # +

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [25]:
budget_max = data.sort_values(by='budget', ascending=False).iloc[0]

answer1 = get_result_string(budget_max)
display(answer1) # +

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [26]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [27]:
runtime_max = data[data.runtime == data.runtime.max()].iloc[0]

answers['2'] = get_result_string(runtime_max)
display(answers['2']) # +

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [28]:
runtime_min = data[data.runtime == data.runtime.min()].iloc[0]

answers['3'] = get_result_string(runtime_max)
display(answers['3']) # +

'Gods and Generals (tt0279111)'

# 4. Какова средняя длительность фильмов?

In [29]:
runtime_mean = round(data.runtime.mean())

answers['4'] = runtime_mean
display(answers['4']) # +

110

# 5. Каково медианное значение длительности фильмов?

In [30]:
runtime_median = int(data.runtime.median())

answers['5'] = runtime_median
display(answers['5']) # +

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
# лучше код получения столбца profit вынести в Предобработку что в начале
profit_max = data[data.profit == data.profit.max()].iloc[0]

answers['6'] = get_result_string(profit_max)
display(answers['6']) # +

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [32]:
profit_min = data[data.profit == data.profit.min()].iloc[0]

answers['7'] = get_result_string(profit_min)
display(answers['7']) # +

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
profitable_films = len(data[data.revenue > data.budget])

answers['8'] = profitable_films
display(answers['8']) # +

1478

ВАРИАНТ 2

In [34]:
answer8 = data[data.revenue > data.budget].shape[0]
display(answer8) # +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
# Сгруппируем фильмы по году выпуска с указанием максимальных значений сборов
grouped_max = data.groupby(['release_year']).revenue.max()


# Сохраним максимальный сбор за 2008
revenue_max_2008 = grouped_max.loc[2008]


film_revenue_max_2008 = data[(data.revenue == revenue_max_2008) & (data.release_year == 2008)].iloc[0]


answers['9'] = get_result_string(film_revenue_max_2008)
display(answers['9']) # +

'The Dark Knight (tt0468569)'

ВАРИАНТ 2

In [36]:
film_revenue_max_2008 = data[data.release_year == 2008].sort_values(by='revenue', ascending=False).iloc[0]

answers9 = get_result_string(film_revenue_max_2008)
display(answers9) # +

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [37]:
film_profit_min = data.query('release_year in [2012, 2013, 2014]').sort_values(by='profit').iloc[0]

answers['10'] = get_result_string(film_profit_min)
display(answers['10']) # +

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [38]:
'''
Не выносим промежуточные датафреймы в предобработку, т.к
нагляднее их хранить в конкретной задаче
'''


# Создадим датафрейм с разложенной колонкой Жанры
data_genres= pd.DataFrame()
data_genres[['genres_array']] = data[['genres_array']]
data_genres = data_genres.explode('genres_array')


answers['11'] = data_genres.value_counts().index[0][0]
display(answers['11']) # +

'Drama'

ВАРИАНТ 2

In [39]:
import operator


'''Создадим словарь, в котором будем считать
количество вхождений каждого жанра'''
genres = {}


for index, row in data.iterrows():
    for genre in row.genres_array:
        genres.setdefault(genre, 0)
        genres[genre] += 1


answer11 = max(genres.items(), key=operator.itemgetter(1))[0]
display(answer11) # +

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [40]:
# Создадим датафрейм с разложенной колонкой Жанры с указанием прибыли прибылью
genres_profit= pd.DataFrame()
genres_profit[['genres_array', 'profit']] = data[['genres_array', 'profit']]
genres_profit = genres_profit.explode('genres_array')


answers['12'] = genres_profit[genres_profit.profit > 0]['genres_array'].value_counts().index[0]
display(answers['12']) # +

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [41]:
# Создадим датафрейм с разложенной колонкой Режиссеры с указанием сборов
directors_revenue = pd.DataFrame()
directors_revenue[['director','revenue']] = data[['director_array','revenue']]
directors_revenue = directors_revenue.explode('director')


answers['13'] = directors_revenue.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
display(answers['13']) # +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
# Оставим только фильмы в жанре Action
action_films = data[data.genres.str.contains('Action')]


# Создадим новый датафрейм с разложенной колонкой Режиссеры
directors = pd.DataFrame()
directors[['director']] = action_films[['director_array']]
directors = directors.explode('director')


# Выводим количество фильмов для каждого режиссера
directors_count = directors.groupby(['director']).agg({'director': 'count'})


result = directors_count[directors_count.director == directors_count.director.max()].director.index[0]


answers['14'] = result
display(answers['14']) # +

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
# Отсортируем только фильмы 2012 года
films_2012 = data[data.release_year == 2012]


# Создадим новый датафрейм с разложенной колонкой Актеры с указанием сборов
cast_revenue = pd.DataFrame()
cast_revenue[['cast','revenue']] = films_2012[['cast_array','revenue']]
cast_revenue = cast_revenue.explode('cast')


result = cast_revenue.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]


answers['15'] = result
display(answers['15']) # +

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
# Отсортируем фильмы с бюджетом выше среднего
films_big_budget = data[data.budget > data.budget.mean()]


# Создадим новый датафрейм с разложенной колонкой Актеры
cast = pd.DataFrame()
cast[['actor']] = films_big_budget[['cast_array']]
cast = cast.explode('actor')


actor_count = cast.groupby(['actor']).agg({'actor': 'count'})
result = actor_count[actor_count.actor == actor_count.actor.max()].actor.index[0]


answers['16'] = result
display(answers['16']) # +

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
import operator


# Отсортируем фильмы с Cage
films_with_cage = data[data.cast.str.contains('Nicolas Cage')]


'''Создадим словарь, в котором будем считать
количество вхождений каждого жанра'''
genres = {}


for index, row in films_with_cage.iterrows():
    for genre in row.genres_array:
        genres.setdefault(genre, 0)
        genres[genre] += 1

        
answers['17'] = max(genres.items(), key=operator.itemgetter(1))[0]
display(answers['17']) # +

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
# Отсортируем фильмы Paramount Pictures
paramount_films = data[data.production_companies.str.contains('Paramount Pictures')]


result = paramount_films[paramount_films.profit == paramount_films.profit.min()].iloc[0]


answers['18'] = get_result_string(result)
display(answers['18']) # +

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
# Разобьем датафрейм по годам с указанием суммы сборов
revenue_years = data.groupby('release_year').agg({'revenue': 'sum'})


result = revenue_years[revenue_years.revenue == revenue_years.revenue.max()]


answers['19'] = result.index[0]
display(answers['19']) # +

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
# Отфильтруем фильмы Warner Bros
warner_films = data[data.production_companies.str.contains('Warner Bros')]


# Сгруппируем по годам с указанием прибыли
warner_profit_by_year = warner_films.groupby('release_year').agg({'profit': 'sum'})


# Сохраним самую высокую годовую прибыль
max_year_profit = warner_profit_by_year.profit.max()


result = warner_profit_by_year[warner_profit_by_year.profit == max_year_profit]


answers['20'] = result.index[0]
display(answers['20']) # +

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
# Сгруппируем по месяцам и отсортируем по возрастанию
films_by_month = data.groupby('release_month', sort=True).count()


# Месяцев всего 12
result = films_by_month.index[11]


# Ответы представлены в виде названий месяцев, можно было бы сделать
# соответсвующий словарь имен
answers['21'] = 'Сентябрь'
display(answers['21'], result) # +

'Сентябрь'

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
# Отфильтруем летние фильмы
summer_films = data.query('release_month in ["6", "7", "8"]')


answers['22'] = len(summer_films)
display(answers['22']) # +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
# Отфильтруем зимние фильмы
winter_films = data.query('release_month in ["12", "1", "2"]')

# Создадим новый датафрейм с разложенной колонкой Режиссеры
directors = pd.DataFrame()
directors[['director']] = winter_films[['director_array']]
directors = directors.explode('director')


# Посчитаем сколько фильмов у каждого режиссера
directors_count = directors.groupby('director').agg({'director': 'count'})


result = directors_count[directors_count.director == directors_count.director.max()]


answers['23'] = result.index[0]
display(answers['23']) # +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
# Создадим новый датафрейм с разложенной колонкой Студия и названиями фильмов
companies = pd.DataFrame()
companies[['company', 'title']] = data[['production_companies_array', 'original_title']]
companies = companies.explode('company')


# Изменим колонку title, сохранив туда количество символов в названии
companies['title'] = companies['title'].apply(lambda x: len(x))

# Сгруппируем по компаниям с максимальной длиной названия
companies_grouped = companies.groupby('company').agg({'title': 'max'})


# Отсортируем по убыванию длины названия
result = companies_grouped.sort_values(by="title", ascending=False)
display(result)


# 2 компании с самыми длинными названиями
answers['24'] = 'Four By Two Productions'
display(answers['24']) # +

                                        title
company
Twentieth Century Fox Film Corporation     83
Four By Two Productions                    83
Walt Disney                                62
Walden Media                               62
21 Laps Entertainment                      59
...                                       ...
Everest Entertainment                       3
Berlanti Productions                        3
Global Entertainment Group                  2
XM2 Productions                             2
Ixtlan Productions                          2

[1771 rows x 1 columns]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
# Создадим новый датафрейм с разложенной колонкой Студия и описанием фильмов
companies = pd.DataFrame()
companies[['company', 'overview']] = data[['production_companies_array', 'overview']]
companies = companies.explode('company')


# Изменим колонку title, сохранив туда количество слов в названии
companies['overview'] = companies['overview'].apply(lambda x: len(x.split()))


# Сгруппируем по компаниям
companies_grouped = companies.groupby('company').agg({'overview': 'mean'})


result = companies_grouped[companies_grouped.overview == companies_grouped.overview.max()]


answers['25'] = result.index[0]
display(answers['25']) # +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
# Берем один процент рейтинг-топ
quantile_1 = np.quantile(data.vote_average, 0.99)


result_films = data[data.vote_average >= quantile_1]['original_title']
display(result_films)


answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
display(answers['26']) # +

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [55]:
data['pairs'] = data['cast_array'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
result = collections.Counter(data['pairs']).most_common(1)
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
display(answers['27']) # +

'Daniel Radcliffe & Rupert Grint'

# Submission

In [56]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Gods and Generals (tt0279111)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [57]:
# и убедиться что ни чего не пропустил)
len(answers)

27